    body {
      font-family: sans-serif;
      margin: 20px;
      background: #f9f9f9;
    }
	button {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bold;
    margin: 3px;
    border: 1px solid green;
    border-radius: 5px;
    height: 45px;
}

.empty {
	visibility:hidden;
}

.month.selected {
  color: white;
  background: #650000;
}
    .month-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
    }

    .month {
      background: #d4d4d4;
      font-size: 2.4em;
      /* font-weight: bold; */
      padding: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 6px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      font-family: 'Planner';
    }

    .month:hover {
     // background: #cce5ff;
    }

    .calendar {
      margin-top: 20px;
      display: none;
    }

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
	  gap:5px;
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 5px;
    }

    .day {
      background: #fff;
      border: 1px solid #ccc;
      min-height: 150px;
      position: relative;
      cursor: pointer;
      padding: 5px;
      overflow: hidden;
      border-radius: 4px;
    }
	.day img {
    width: 100%;
    }

    .day:hover {
      background: #e6f7ff;
    }

    .day.weekends {
      background: #f0beff;
    }	
	
    .today {
      border: 2px solid #007bff;
      background: #d0ebff;
    }
	
.tday {
    border: 1px solid red;
    font-size: 2em;
    font-family: cursive;
    background-color:bisque
}
    .editor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      border: none;
      padding: 5px;
      box-sizing: border-box;
      resize: none;
      font-size: 0.9em;
    }
	li {
    padding: 0;
    margin: 0;
}

ul {
    display: inline-block;
	font-size: 0.75em;
    padding: 1px;
    margin: 0px;
}

li {
  list-style-type: none; 
}

li::before {
	    content: "✔️ "; 
	  position: relative;
  left: 0;
  color: green; 
}

li li {
  list-style-type: none;
  position: relative;
  padding-left: 0.4em;
}

li li::before {
  content: "✔️ "; 
  position: relative;
  left: 0;
  color: green; 
  font-weight: bold;
}

li li li {
  list-style-type: none;
  position: relative;
  padding-left: 0.2em;
}

li li li::before {
  content: "➕ ";   
  position: relative;
  left: 0;
  color: crimson; 
  font-weight: bold;
}

.day-title {
    //font-weight: bold;
    border: 1px dotted red;
    font-size: 1.25em;
    text-align: right;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #d5ffe7;
    font-family: 'Vintage Letter';
}

.md-output {
  font-size: 1em;
  line-height: 1.25;
  padding: 1px;
  border-radius: 4px;
}
.md-output input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 6px;
  vertical-align: middle;
}

.sree-note h1, .sree-note h2, .sree-note h3 {
  margin: 4px 0;
  text-align: left;
  border-radius: 5px;
  padding: 2px;
}

.sree-note h1 {
  color: #000000;
  background-color: #f0b6ff;
  border: 1px dashed black;
}

.sree-note h2 {
  color: #000000;
  background-color: #7af8ff;
  border: 1px dashed black;
  font-size: 1.2em;
}

.sree-note h3 {
  color: #000000;
  background-color: #ffea7a;
  border: 1px dashed black;
  font-size: 0.9em;
  padding:2px;
}

.sree-note h4 {
  color: #000000;
  background-color: #dcff7a;
  border: 1px dashed black;
  font-size: 0.8em;
  margin: 0px;
  padding:2px;
}

.sree-note strong {
  color: #333;
}

.sree-note em {
  color: #555;
  font-style: italic;
}

.sree-note ul {
  padding-left: 5px;
  margin: 4px 0;

}

.sree-note a {
  color: #0066cc;
  text-decoration: none;
}

.sree-note img {
  max-width: 100%;
  border-radius: 4px;
  margin-top: 5px;
}

.holiday {
	background: #ff693c;
}

.imp .td{
	background: #ff693c;
}

.is-important{
  background-color: #3c44ff;
  //color: white;
  font-weight: bold;
}

.has-star {
  background-color: #ff693c;
  //color: white;
  font-weight: bold;
}

.glow-row {
  animation: glow 0.5s infinite alternate;
  border-left: 4px solid #ff9800;
  border-right: 4px solid #ff9800;
  background-color: #fff3cd;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px 2px #ffc107;
  }
  to {
    box-shadow: 0 0 15px 4px #ff9800;
  }
}


.emoji-picker__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: fit-content;
  max-width: 90vw;
  padding: 1em;
  display:none;
}


.emoji-picker__wrapper.mobile {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  width: fit-content !important;
  transform: translate(-50%, -50%) !important;
}

.emoji-picker {
  --emoji-per-row: 6 !important;
  --row-count: 10 !important;
  --emoji-size: 1.7em !important;
}

.month-grid-mobile {
    display: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
}

.month-shot {
    font-family: monospace;
    font-weight: bold;
    background: #40c7ff;
    font-size:1.4em;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

    .month-shot:hover {
      //background: #ff9393;
    }
	
.analog-clock {
  position: absolute;
  top: 55px;
  left: 280px;
  width: 60px;
  height: 60px;
  border: 3px solid #333;
  border-radius: 50%;
  background: #fff;
  margin: 1px auto;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotate(0deg);
  background: #333;
}

.hour {
  width: 5px;
  height: 25px;
  background: #000;
}

.minute {
  width: 5px;
  height: 42px;
  background: #666;
}

.second {
  width: 2px;
  height: 48px;
  background: red;
}

.center-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tick{
  position: absolute;
  width: 2px;
  height: 12px;
  background: darkblue;
}

.zero {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.one {
  top: 6%;
  left: 75.5%;
  transform: translate(-50%, -50%) rotate(30deg);  
}

.two {
  top: 24.5%;
  left: 94%;
  transform: translate(-50%, -50%) rotate(60deg);  
}

.three {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.four {
  top: 75.5%;
  left: 94%;
  transform: translate(-50%, -50%) rotate(120deg);  
}

.five {
  top: 94%;
  left: 75.5%;
  transform: translate(-50%, -50%) rotate(150deg);  
}

.six {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seven {
  top: 94%;
  left: 24.5%;
  transform: translate(-50%, -50%) rotate(210deg);  
}

.eight {
  top: 75.5%;
  left: 6%;
  transform: translate(-50%, -50%) rotate(240deg);  
}
	
.nine {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(270deg);
}

.ten {
  top: 24.5%;
  left: 6%;
  transform: translate(-50%, -50%) rotate(300deg);  
}

.eleven {
  top: 6%;
  left: 24.5%;
  transform: translate(-50%, -50%) rotate(330deg);  
}

@font-face{
  font-family: 'Digital-7';
  src: url('/~sarun/plan/digital-7.ttf') format('truetype');
}

@font-face{
  font-family: 'Vintage Letter';
  src: url('/~sarun/plan/vintage_letter.ttf') format('truetype');
}

@font-face{
  font-family: 'Typewriter';
  src: url('/~sarun/plan/CourierPolski1941.ttf') format('truetype');
}

@font-face{
  font-family: 'Ubuntu';
  src: url('/~sarun/plan/Ubuntu-R.ttf') format('truetype');
}

@font-face{
  font-family: 'Collage';
  src: url('/~sarun/plan/collage.otf') format('opentype');
}

@font-face{
  font-family: 'sis';
  src: url('/~sarun/plan/sis.otf') format('opentype');
}

@font-face{
  font-family: 'Planner';
  src: url('/~sarun/plan/modern_planner.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: url('/~sarun/plan/digital.ttf') format('truetype');
}

@font-face {
    font-family: 'Flatline';
    src: url('/~sarun/plan/Flatline.otf') format('opentype');
}

@font-face {
    font-family: 'Marlboro';
    src: url('/~sarun/plan/Marlboro.ttf') format('truetype');
}

#dclock {
  font-family: 'sis', monospace;
  font-size: 33px;
  color: #111;
  background-color: #faf5ff;
  padding: 5px 10px;
  width: 220px;
  font-weight: bold;
  border-radius: 8px;
  display: block;
  letter-spacing: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Ubuntu', 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 6px;
  overflow: hidden;
}

thead {
  background-color: #a6d2ff;
  color: #333;
  text-align: left;
  display:none;
}

thead th {
  padding: 2px 4px;
  border-bottom: 2px solid #e0e0e0;
}

tbody td {
  padding: 1px 4px;
  border-bottom: 1px solid #777;
  font-size: 0.9em;
  width: 1em;
  border-left: 1px solid #bdbfff;
  font-weight:bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #e1e1e1;
}

caption {
  caption-side: top;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  color: #444;
}

	
	
@media (max-width: 720px) {

.selected{color:white; background: #650000;}
  .empty {
	  display:none;
  }

  .month-grid{
display:none;
  }
  
    .month-grid-mobile{
display:grid;
  }
  
  
  .month{
    padding:2px;
  }
  .weekdays{
    display:none;
  }
  .days{
    display:flex;
	flex-direction: column;
  }
  
  tbody td
 {font-size: 1.5em; }
  
  #popupEditor{
    width:85vw;
  }


}	
